/* CSS declarations go here */

html, body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

.container{
  width:100%;
}

.flex-container{
  background-color:transparent;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  padding: 10px;
}
.flex-items{
  background-color: transparent;
  box-sizing: border-box;
}
#table-widget{
  width:60%;
  -webkit-order:1;
  order:1;
}
#calculated-widget{
  width:35%;
  padding:10px;
  -webkit-order:2;
  order:2;
}
#pyramid-widget{
  width:50%;
  order:1;
  -webkit-order:1;
}
#input-widget{
  padding:10px;
  width: 45%;
  order:2;
  -webkit-order:2;
}
